$pagesGap: 50px;

nav.navbar {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;

  .itemsHolder {
    display: flex;
    align-items: center;
    padding: 25px 25px 40px;
    border-radius: 0px 0px 20px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;

    .logoHolder {
      width: 70px;
      position: absolute;
      height: fit-content;
      transition: 0.3s ease;
      background-color: $primary-color;
      transform: translateY(-100px);
      padding: 25px 15px 10px;
      border-radius: 0px 0px 10px 10px;

      img {
        width: 100%;
      }

      .siderCloseButton {
        display: none;
      }
    }

    .pagesHolder {
      margin: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $pagesGap;

      span {
        a {
          color: #f3fff4;
          text-decoration: none;
          position: relative;
          font-weight: 900;
          font-size: 1.5rem;
          white-space: nowrap;
          height: fit-content;
          display: inline-block;

          &:not(.lastChild)::after {
            content: "\007C";
            position: absolute;
            text-align: center;
            right: calc($pagesGap / 2 * -1);
            color: #f3fff4;
          }

          span {
            display: inline-block;
            transition: transform 0.3s ease;
          }

          &:hover {
            color: $secondary-color;
            cursor: pointer;

            span {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  &.scrolled {
    .itemsHolder {
      background-color: $white-color;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.35),
        rgba(255, 255, 255, 0)
      );
      padding-top: 0px;
      padding-bottom: 10px;

      .logoHolder {
        transform: translateY(0px);
        position: relative;
      }

      .pagesHolder {
        span {
          a {
            color: $primary-color;

            &::after {
              color: $primary-color;
            }
          }
        }
      }
    }
  }

  .sidebarToggle {
    position: absolute;
    left: 30px;
    top: 20px;
    transition: 0.3s ease;
    display: none;
    cursor: pointer;
    background-color: $secondary-color;
    border-radius: 50%;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

    .iconHolder {
      display: flex;
      color: $primary-color;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: $screen-size-lg) {
  nav.navbar {
    .itemsHolder .pagesHolder span a {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: $screen-size-md) {
  nav.navbar {
    width: 100%;

    .itemsHolder {

      .logoHolder {
        width: 55px;
        padding: 20px 10px 5px;
      }
      .pagesHolder {
        gap: 20px;

        span a {
          font-size: 1rem;

          &:not(.lastChild):after {
            right: -12px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-size-sm) {
  nav.navbar {
    .itemsHolder {
      background-image: none !important;
      background-color: rgba($color: $light-color, $alpha: 0.9) !important;

      z-index: 100;
      padding: 10px;
      height: 100vh;
      position: fixed;
      width: 50%;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      transform: translateX(-150%);
      transition: 0.3s ease;

      &.open {
        display: flex !important;
        transform: translateX(0);
      }

      .logoHolder {
        transform: translate(0);
        width: 100%;
        background-color: transparent;

        position: static;

        margin: 35px 0px;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: space-around;

        flex: 1;

        img {
          width: 50px;
        }

        .siderCloseButton {
          display: block;
          cursor: pointer;
          color: $primary-color;
        }
      }

      .pagesHolder {
        flex-direction: column;
        align-items: start;
        flex: 1.5;
        flex-direction: column !important;

        span {
          a {
            font-size: 1.2rem;
            font-weight: 300;
            color: $primary-color !important;
            position: relative;
            gap: 40px;

            &::after {
              content: "\007C";
              position: absolute;
              text-align: center;
              left: 10px;
              bottom: -20px;
              color: $primary-color !important;
              width: fit-content;
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    .sidebarToggle {
      display: block !important;
    }

    &.rtl {
      .itemsHolder {
        right: 0;
        left: auto;
        transform: translateX(150%);

        &.open {
          transform: translateX(0);
        }

        .pagesHolder {
          span a {
            &:after {
              right: 5px;
            }
          }
        }
      }

      .sidebarToggle {
        right: 30px;
        left: 0px;

        width: fit-content;
      }
    }
  }
}

@media (max-width: 450px) {
  nav.navbar {
    .itemsHolder {
      width: 100%;

      .pagesHolder {
        margin: 15px;

        span {
          a {
            font-size: 9vw;
            white-space: wrap;

            &::after {
              content: "\007C";
              position: absolute;
              text-align: center;
              left: 10px;
              bottom: -25px;
              color: $primary-color;
              width: fit-content;
              transform: rotate(90deg);
            }

            &:hover {
              font-size: 9.2vw;
            }
          }
        }
      }
    }
  }
}
