.titleHolder {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
             color: $primary-color;
    padding: 3px 8px;
    background-color: $secondary-color;
    box-shadow: 0px 0px 30px 02px rgba(29,255,195,0.4);
    font-weight: 900;
    font-size: 24px;

}