.container {
  margin: 50px 50px 0 50px;

  .categoriesHolder {
    display: flex;
    justify-content: center;

    .categories {
      min-width: 80%;
      display: flex;
      justify-content: center;

      list-style: none;

      margin: 50px 0;

      border-radius: 50px;
      background-color: $light-color;

      color: $primary-color;
      font-weight: 700;
      font-size: 1.3rem;


      &.isRtl .selected { 
        
        &:first-child {
          border-bottom-right-radius: 50px;
          border-top-right-radius: 50px;
        }

        &:last-child {
          border-bottom-left-radius: 50px;
          border-top-left-radius: 50px;
        }
      }

      &:not(.isRtl) .selected {
        &:first-child {
          border-bottom-left-radius: 50px;
          border-top-left-radius: 50px;
        }

        &:last-child {
          border-bottom-right-radius: 50px;
          border-top-right-radius: 50px;
        }
      }

  

      label {
        width: 100%;
        height: 50px;
        padding: 10px;
        transition: .3s ease;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        font-weight: 900;
        letter-spacing: -1px;

        &.selected {
          background: $secondary-color;
          -webkit-box-shadow: inset -5px 0px 103px -53px rgba(0,0,0,1);
          -moz-box-shadow: inset -5px 0px 103px -53px rgba(0,0,0,1);
          box-shadow: inset -5px 0px 103px -53px rgba(0,0,0,1);


        }
      }
    }
  }


  .projects {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;

    .emptyCategory {
      color: $light-color;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
    }
  }

}


@media (max-width: $screen-size-md) {
  .container {
    margin: 50px 10px 0 10px;

    .categoriesHolder {
      .categories {

        width: 90%;
        label {
          font-size: 1rem;
          font-weight: 700;
          padding: 10px;
          

        }
      }
    }
  }
}

@media (max-width: $screen-size-sm) {
  .container {

    .categoriesHolder {
      .categories {
        flex-wrap: wrap;

        width: 100%;

        label {
          flex: 1 0 20%;
          font-size: 1rem;
          font-weight: 700;
          padding: 5px;
          
          &.selected {
            border-radius: 0 !important;
          }
        }

        border-radius: 0;
        


      }
    }

    .projects {
      .emptyCategory {
        font-weight: 700;
        font-size: 1rem;

      }
    }
  }
}

@media (max-width: 250px) {
  .container {
    margin: 50px 10px 0 10px;

  }
}
