@use "src/styles/variables.scss" as *;

$main-section-height: 100%;
$laptop-animation-speed : 10s;
$slogan-font-size: 3vw;
$slogan-line-ratio: 1.2;
$logo-width: 5vw;

.container {
    aspect-ratio: 16 / 9;
    padding: 0 50px;

    @media (max-width: $screen-size-xl) {
        padding: 0 50px;
    }

    @media (max-width: $screen-size-lg) {
        padding: 0 30px;
    }



    .mainSectionContainer {
        display: flex;
        align-items: center;
        gap: 2px;
        width: 100%;
        height: 100%;


        .rightSide , .leftSide {
            width: 50%;
        }

        .leftSide {


            .pcIconHolder {
                width: 100%;
                
                .laptop {
                    width: 100%;
                    height: 100%;
                }

            }
        }

        .rightSide {
            display: flex;
            flex-direction: column;
            gap: calc(1.5 * 1em);

            .logoHolder {
                width: $logo-width;
                .logo {
                    width: 100%;
                }
            }

            .textHolder {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .slogan {
                    font-weight: 300;
                  
                    font-size: $slogan-font-size;
                    line-height: calc($slogan-line-ratio * 1em);
                  
                    white-space: nowrap;

                    b {
                        font-weight: 900;
                    }
                }
                
                .jobTitle {
                    background-color: $secondary-color;
                    color: $black-color;
                    white-space: nowrap;

                    font-weight: 600;
                    word-break: keep-all;
                    font-size: 1.5vw;
                    width: fit-content;
                    padding: 1px 7px;
                }
            }

            .accountsHolder {
                display: flex;
                margin-top: 20px;
                gap: 10px;

                .github, .linkedIn {

                    svg {
                        font-size: 25px;
                        transition: all 0.3s;
                    }

                    &:hover{
                        cursor: pointer;

                        svg {
                            font-size: 27px;
                            fill: $secondary-color;
                        }
                    }

                }
            }
            
        }
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

