@use "src/styles/variables.scss" as *;

$main-section-height: 100%;
$laptop-animation-speed : 10s;
$slogan-font-size: 3vw;
$jobTitle-font-size: 1.5vw;
$slogan-line-ratio: 1.2;
$logo-width: 5vw;
$account-hover-change-width: 2px;

.container {
    aspect-ratio: 16 / 9;
    padding: 0 50px;

    @media (max-width: $screen-size-xl) {
        padding: 0 50px;
    }

    @media (max-width: $screen-size-lg) {
        padding: 0 30px;
    }




    .mainSectionContainer {
        display: flex;
        align-items: center;
        gap: 50px;
        width: 100%;
        height: 100%;


        .rightSide , .leftSide {
            width: 50%;
        }

        .rightSide {
 

            
            .pcIconHolder {
                width: 100%;
                
                .laptop {
                    width: 100%;
                    height: 100%;
                }

            }
        }

        .leftSide {
            display: flex;
            flex-direction: column;
            gap: calc(1.5 * 1em);

            .logoHolder {
                width: $logo-width;
                .logo {
                    width: 100%;
                }
            }

            .textHolder {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .slogan {
                    font-weight: 300;
                  
                    font-size: $slogan-font-size;
                    line-height: calc($slogan-line-ratio * 1em);
                  
                    white-space: nowrap;

                    b {
                        font-weight: 900;
                    }
                }
                
                .jobTitle {
                    background-color: $secondary-color;
                    color: $black-color;
                    white-space: nowrap;

                    font-weight: 600;
                    font-size: $jobTitle-font-size;
                    width: fit-content;
                    padding: 1px 7px;
                }
            }

            .accountsHolder {
                display: flex;
                margin-top: 20px;
                gap: 10px;

                .github, .linkedIn {

                    svg {
                        font-size: 25px;
                        transition: all 0.3s;
                    }

                    &:hover{
                        cursor: pointer;

                        svg {
                            font-size: calc(25px + $account-hover-change-width);
                            fill: $secondary-color;
                        }
                    }

                }
            }
            
        }
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media (max-width: $screen-size-md) {
    .mainSectionContainer {
        .leftSide {
            gap: calc(1 * 1em) !important;
            
            .textHolder {
                gap: calc(1.4 * 1em) !important;
            }
        }
    }
}
@media (max-width: $screen-size-sm) {
    .container {
        padding: 0 20px;
        height: fit-content;
        aspect-ratio: auto;

        .mainSectionContainer {
            flex-direction: column;
            gap: 25px !important;
            padding-top: 50px;

            .leftSide {
                gap: calc(1 * 1em) !important;
                .logoHolder {
                    width: calc($logo-width * 2) !important;
                }
                .textHolder {
                    align-items: center;
                    gap: calc(1 * 1em) !important;
                    .slogan {
                        font-size: calc($slogan-font-size * 2.2) !important;
                        line-height: calc($slogan-line-ratio * 1em) !important;
                    }
    
                    .jobTitle {
                        font-weight: 900;
                        font-size: calc($jobTitle-font-size * 2) !important;
    
                    }
                }
    
                .accountsHolder {
                    margin-top: 10px !important;
                    svg {
                        font-size: 15px !important;
    
                        &:hover {
                            font-size: calc(15px + $account-hover-change-width) !important;
                        }
                    }
                }
                align-items: center;
                text-align: center;
            }
            .rightSide {
                width: 100% !important;
                .pcIconHolder {
                    
                }
            }
        }

    }

}

@media  (max-width: $screen-size-xs) {
    .container {
        .mainSectionContainer {
            padding-top: 25px !important;
            gap: 15px !important;
    
    
            .leftSide {
                gap: calc(0.4 * 1em) !important;
                .accountsHolder {
                    margin-top: 0px !important;
    
                    svg {
                        font-size: 10px !important;
    
                        &:hover {
                            font-size: calc(10px + $account-hover-change-width) !important;
                        }
                    }
                }
            }
        }
    }

    }