.skill {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .iconHolder{
        position: relative;
        width: 45px;
        top: 15px;
        z-index: -2;

        img {
            width: 100%;
        }
    }
    .title {
        font-size: 1rem;
        text-align: center;

        @media (max-width: $screen-size-lg) {
            font-size: 0.8;
        }
    }
}