
.container {
    margin: 50px;
    

    .sectionTitle {
        margin-bottom: 50px;
    }

    .flexContainer {
        display:  flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 25px;
    }
    
}


@media (max-width: $screen-size-md) {
    .container {
        margin: 50px 10px;

    }
}