
.container {
    
    margin: 50px 50px 0 50px;

    .sectionTitle {
        margin-bottom: 50px;
    }
    .holder {
        padding: 10px 30px;
    }
}


@media (max-width: $screen-size-md) {
    .container {
        margin: 50px 10px;

    }
}