.reviewHolder {
  position: relative;

  .bg {
    background: $glass-background-color;
    border-radius: $glass-border-radius;
    backdrop-filter: blur($glass-backdrop-blur);
    -webkit-backdrop-filter: blur($glass-backdrop-blur);
    border: $glass-border-width solid $glass-border-color;

    -moz-box-shadow: $glass-box-shadow;
    -webkit-box-shadow: $glass-box-shadow;
    box-shadow: $glass-box-shadow;
    height: 90%;
    position: absolute;
    top: 100px;
    left: 0;

    width: 100%;
    z-index: -1;
    display: none;
  }

  .itemsHolder {
    position: relative;
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;

    color: $primary-color;

    border-radius: 25px;
    padding: 10px 25px;

    border: 2px solid $secondary-color;
    box-shadow: 0px 0px 30px 02px rgba(29,255,195,0.4);

    .avatarHolder {
      position: relative;
      margin-bottom: 50px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border-radius: 50%;
        border: 7px solid $primary-color;
      }
    }

    .contentHolder {
      padding: 45px 0;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .name {
        font-size: 1.9rem;
        font-weight: 700;
      }
      .service {
        font-weight: 600;
        font-size: 1rem;
      }

      .comment {
        margin-top: 20px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2;
      }
    }
  }
}

@media (max-width: $screen-size-md) and (min-width: $screen-size-sm) {
  .reviewHolder {
    .itemsHolder {
      padding: 10px;

      .avatarHolder {
        img {
          width: 125px;
        }
      }

      .contentHolder {
        .name {
          font-size: 1.3rem;
        }

        .service {
          font-size: 0.8rem;
          margin-top: 5px;
        }

        .comment {
          font-size: 0.9rem;
          line-height: 1.4;
        }
      }
    }
  }
}

@media (max-width: $screen-size-sm) {
  .reviewHolder {
    padding: 25px 25px 0 25px;

    .bg {
      display: block;
    }

    .itemsHolder {
      .avatarHolder {
        img {
          width: 125px;
        }
      }

      .contentHolder {
        .name {
          font-size: 1.35rem;
        }
  
        .service {
          font-size: 0.9rem;
          margin-top: 5px;
        }
  
        .comment {
          font-size: 0.9rem;
          line-height: 1.4;
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .reviewHolder {
    padding: 10px 10px 0 10px;


    .bg {
      height: 85%;
    }

    .itemsHolder {

      .avatarHolder {
        img {
          width: 100px;
        }
      }
      .contentHolder {
        .name {
          font-size: 1rem;
        }
  
        .service {
          font-size: 0.9rem;
          margin-top: 5px;
        }
  
        .comment {
          font-size: 0.9rem;
          line-height: 1.4;
        }
      }
    }
  }
}
