@import '@styles/mixins';

.container {
  margin: 50px 50px 200px 50px;

  .titleHolder {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .reviewsContainer {
    padding: 0px 50px 0px 50px;

    position: relative;

    .bg {

      @include glass-effect;

      position: absolute;
      top: 100px;
      left: 0;

      height: 90%;
      width: 100%;
      z-index: -1;
    }

    .reviewsHolder {
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: 50px;
    }
  }
}

@media (max-width: $screen-size-lg) {
  .container {
    margin: 40px 40px 200px 40px;

    .reviewsContainer {
      padding: 0px 20px 0px 5px;

      .reviewsHolder {
        gap: 30px;
      }
    }
  }
}

@media (max-width: $screen-size-md) {
  .container {
    margin: 30px 30px 200px 30px;

    .reviewsContainer {
      padding: 0px 20px 0px 20px;

      .reviewsHolder {
        gap: 20px;
      }
    }
  }
}

@media (max-width: $screen-size-sm) {
  .container {
    margin: 0 0 200px 0;

    .reviewsContainer {
      .reviewsHolder {
        flex-direction: column;
        gap: 100px;
      }

      .bg {
        display: none;
      }
    }
  }
}
