$glass-background-color: rgba(255, 255, 255, 0.10);
$glass-border-radius: 40px;
$glass-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
$glass-backdrop-blur: 6.9px;
$glass-border-color: rgba(255, 255, 255, 0.31);
$glass-border-width: 1px;


.skillHolder {
    background: $glass-background-color;
    border-radius: $glass-border-radius;
    box-shadow: $glass-box-shadow;
    backdrop-filter: blur($glass-backdrop-blur);
    -webkit-backdrop-filter: blur($glass-backdrop-blur);
    border: $glass-border-width solid $glass-border-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 50px;

    padding: 80px 50px;

    max-height: 350px;

    flex: 1 1 40%;

    -webkit-box-shadow: inset 0px 0px 61px -47px $white-color;
    -moz-box-shadow: inset 0px 0px 61px -47px $white-color;
    box-shadow: inset 0px 0px 61px -47px $white-color;

    .headerHolder {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .iconHolder {
            position: relative;
            top: 15px;
            width: 50px;
    
            img {
                width: 100%;
            }
        }
    }
    
    .contentHolder {
        font-weight: 400;
        font-size: 18.5px;
        color: rgba($color: $light-color, $alpha: 0.8);
        line-height: 30px;
        text-align: center;
    }
}

@media (max-width: $screen-size-xl) {
    .skillHolder {
        flex: 1 1 35%;
    }
}


@media (max-width: $screen-size-lg) {
    .skillHolder {
        flex: 1 1 35%;
    }
}

@media (max-width: 450px) {
    .skillHolder {
        padding: 50px 20px;
        max-height: 100%;

        .contentHolder {
            font-size: 14.5px;
        }
    }
}
