@import "@styles/mixins";

.container {
  margin-top: 50px;

  .holder {
    @include glass-effect;

    margin: 0 70px;
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 30% 30%;
    grid-auto-flow: column;
    padding: 20px 0 20px 20px;

    &.rtl {
      padding: 20px 20px 20px 0;
    }

    .line {
      font-weight: 400;
      color: rgba($color: $light-color, $alpha: 0.8);
      line-height: 30px;
      word-break: normal;
      white-space: normal;
      overflow-wrap: break-word;
      font-size: 1.3rem;
      align-self: center;
      padding: 25px 0;
    }

    .logoHolder {
      height: 90%;
      width: 200px;
      grid-column-start: 2;
      grid-area: 1 / 2 / 5 / 5;
      justify-self: end;

      .logo {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: $screen-size-lg) {
    .holder {
      grid-template-columns: 70% 30%;
      margin: 0 50px;

      .line {
        font-size: 1rem;
        line-height: 25px;
      }
    }
  }

  @media (max-width: $screen-size-md) {
    .holder {
      margin: 0 20px;
    }
  }
  @media (max-width: 775px) {
    .holder {
      grid-template-columns: 80% 20%;
      grid-template-rows: 20% 40% 20% 20%;

      .titleBox {
        align-self: center;
      }
      .line2holder {
        grid-area: 3 / 1 / 4 / last-line;
      }

      .line3holder {
        grid-area: 4 / 1 / 4 / last-line;
      }

      &.rtl {
        .logoHolder {
          padding-right: 5px;
        }
      }

      &:not(.rtl) {
        .logoHolder {
          padding-left: 5px;
        }
      }

      .logoHolder {
        width: 100%;
        padding: 0 0;
        grid-area: 1 / 2 / 3;
        height: 100%;
        align-self: stretch;
      }

      .line {
        font-size: 0.9rem;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  @media (max-width: $screen-size-sm) {
    .holder {
      margin: 0 10px;
      grid-template-columns: 70% 30%;

      padding: 10px 0 10px 10px;

      &.rtl {
        padding: 10px 10px 10px 0;
      }

      .line2holder {
        grid-area: 3 / 1 / 4 / last-line;
      }

      .line3holder {
        grid-area: 4 / 1 / 4 / last-line;
      }

      &.rtl {
        .logoHolder {
          padding-right: 5px;
        }
      }

      &:not(.rtl) {
        .logoHolder {
          padding-left: 5px;
        }
      }

      .logoHolder {
        width: 100%;
        grid-area: 1 / 2 / 3;
      }

      .line {
        font-size: 0.8rem;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  @media (max-width: 380px) {
    .holder {
      grid-template-columns: 65% 35%;

      grid-template-rows: 20% 40% 20% 20%;

      .titleBox {
        align-self: center;
      }

      .line1holder,
      .line2holder,
      .line3holder {
        margin: 20px 0;
      }

      .line2holder {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 300px) {
  .holder {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px !important;
    text-align: center;

    .logoHolder {
      display: none;
    }

    .line1holder,
    .line2holder,
    .line3holder {
      font-size: 0.7rem !important;
      margin: 20px 0 !important;
      padding: 0 !important;
    }
  }
}
