@import 'fonts';
:root {
    --swiper-theme-color: #1dffc4; 
    --swiper-pagination-bullet-inactive-color: #1dffc4;
}

@media (max-width: $screen-size-sm) {
    :root {
    --swiper-navigation-size: 40px;
    }
}

@media (max-width: 300px) {
    :root {
    --swiper-navigation-size: 30px;
    }
}

*  {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}


html {
    scroll-behavior: smooth;

    body {

        font-family: $font-family;
        color: $white-color;
        background-color: $primary-color;
        overflow-x: hidden;

        &.rtl {
            direction: rtl;
        }
    
        &.ltr {
            direction: ltr;
        }


    }
    
}

  