body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    &.rtl {
        direction: rtl;
    }

    &.ltr {
        direction: ltr;
    }
}

html {
    scroll-behavior: smooth;
}

body .portfolio{
    
    font-family: $font-family;
    color: $white-color;

}

body { 
    background-color: $primary-color;
    height: 1000vh;
    overflow-x: hidden;
}
