.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid $secondary-color;
  max-width: 190px;

  text-align: center;

  gap: 20px;
  padding: 20px 5px;

  background-color: $light-color;
  border-radius: 15px;

  color: $primary-color;

  .icon {
    width: 3.5rem;


    img {
      width: 100%;
    }
  }

  .title {
    font-weight: 800;
  }

  .description {
    flex-grow: 1;
  }
  
  .contactUs {
    color: $secondary-color;
    font-weight: 900;
    transition: 0.3s ease;
    
    &:hover {
        cursor: pointer;
        color: $primary-color;
        transform: scale(1.1);
    }
  }
}


@media (max-width: 750px) {
  .container {
    max-width: 150px;
    .icon {
      width: 3rem;

    }
    .title {
      font-size: 0.9rem;
      
    }
    .description {
      font-size: 0.8rem;
    }

    .contactUs {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 125px;

    .icon {
      width: 2.5rem;

    }
    .title {
      font-size: 0.7rem;
      
    }
    .description {
      font-size: 0.6rem;
    }

    .contactUs {
      font-size: 0.7rem;
    }
  }
}

