.container {
    margin: 50px;

    .cardsContainer {
        margin: 50px 0;

        .itemClass {
            display: flex;
            justify-content: center;
        }
    }
}


@media (max-width: $screen-size-lg) {
    .container {
        margin: 50px 20px ;

    }
}