.container {
  margin: 50px 50px 0 50px;

  .wrapper {
    margin: 50px 0;

    height: 100%;
    align-items: stretch;
    .swiperSlide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: unset;
    }


  }
}


@media (max-width: 768px) {
  .swiperButtonNext,
  .swiperButtonPrev {
    width: 30px;
    height: 30px;


  }
}

@media (max-width: 480px) {
  .swiperButtonNext,
  .swiperButtonPrev {
    width: 20px;
    height: 20px;
  }
}





@media (max-width: $screen-size-lg) {
  .container {
    margin: 50px 20px 0 20px;
  }
}


@media (max-width: $screen-size-sm) {
  .container {
    margin: 50px 10px 0 10px;
  }
}
