@use "src/styles/variables.scss" as *;

$main-section-height: 100%;
$laptop-animation-speed: 10s;
$slogan-font-size: 3vw;
$jobTitle-font-size: 1.5vw;
$slogan-line-ratio: 1.2;
$logo-width: 5vw;
$account-hover-change-width: 2px;

.container {
  aspect-ratio: 16 / 9;
  position: relative;

  .bg {
    width: 100%;
    height: 65%;
    position: relative;
    border-radius:0% 0% 88% 12% / 0% 0% 94% 11% ;    //   top: 50%;
    background: rgba($secondary-color, 0.1);
    z-index: -3;
    position: absolute;
  }

  .mainSectionContainer {
    height: 100%;
    margin: 0 150px;

    .flexContainer {
      display: flex;
      align-items: center;
      gap: 50px;
      width: 100%;
      height: 100%;

      .rightSide,
      .leftSide {
        width: 50%;
      }

      .rightSide {
        .pcIconHolder {
          width: 100%;

          .laptop {
            width: 100%;
            height: 100%;
          }
        }
      }

      .leftSide {
        display: flex;
        flex-direction: column;
        gap: calc(1.5 * 1em);

        .logoHolder {
          width: $logo-width;
          .logo {
            width: 100%;
          }
        }

        .textHolder {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .slogan {
            font-weight: 300;
            font-size: $slogan-font-size;
            line-height: calc($slogan-line-ratio * 1em);
            white-space: nowrap;

            b {
              font-weight: 900;
            }
          }

          .jobTitle {
            background-color: $secondary-color;
            color: $black-color;
            white-space: nowrap;
            font-weight: 600;
            font-size: $jobTitle-font-size;
            width: fit-content;
            padding: 1px 7px;
          }
        }

        .accountsHolder {
          display: flex;
          margin-top: 20px;
          gap: 10px;

          .github,
          .linkedIn {
            svg {
              font-size: 25px;
              transition: all 0.3s;
              color: white;
            }

            &:hover {
              cursor: pointer;

              svg {
                font-size: calc(25px + $account-hover-change-width);
                fill: $secondary-color;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen-size-lg) {
  .container {
    .mainSectionContainer {
      margin: 0 100px !important;
    }
  }
}
@media (max-width: $screen-size-md) {
  .container {
    .mainSectionContainer {
      margin: 0 50px !important;
      .flexContainer {
        .leftSide {
          gap: calc(1 * 1em);

          .textHolder {
            gap: calc(1.4 * 1em);
          }
        }
      }
    }
  }
}

@media (max-width: $screen-size-sm) {
  .container {
    height: fit-content;
    aspect-ratio: auto;

    .mainSectionContainer {
      padding: 100px 0;

      .flexContainer {
        flex-direction: column;
        gap: 25px;

        .leftSide {
          gap: calc(1 * 1em);

          .logoHolder {
            width: calc($logo-width * 2);
          }

          .textHolder {
            align-items: center;
            gap: calc(1 * 1em);

            .slogan {
              font-size: calc($slogan-font-size * 2);
              line-height: calc($slogan-line-ratio * 1em);
            }

            .jobTitle {
              font-weight: 900;
              font-size: calc($jobTitle-font-size * 2.3);
            }
          }

          .accountsHolder {
            margin-top: 10px;

            svg {
              font-size: 1.3rem !important;

              &:hover {
                font-size: calc(15px + $account-hover-change-width);
              }
            }
          }

          align-items: center;
          text-align: center;
        }

        .rightSide {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: $screen-size-xs) {
  .container {
    .mainSectionContainer {
      gap: 15px;
      margin: 0 10px !important;

      .flexContainer {
        .leftSide {
          .accountsHolder {
            svg {
              font-size: 0.8rem !important;
            }
          }
        }
      }
    }
  }
}
