body .portfolio{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: $font-family;
    color: $white-color;

}
body { 
    background-color: $primary-color;
    height: 1000vh;
}
